[2020-03-02 09:11] JorgMuskens opened #1 "Audio back not working"
Hi Dan,
The latest updates in the ARI bridge work just fine. The next thing i am running into is the audio stream back from google. It looks like the follwing code is not fired

// if we got the output audio then send it back to asterisk (streamingDetectIntent)
        if (data.outputAudio && data.outputAudio.length !== 0) {
          this._sendAudioToAsterisk(data);

          // we got the audio

[2020-03-02 09:22] danjenkins commented on #1
Ah thats an odd one because I know that code is definitely right as it works in my demo. your best bet is to console.log(data) at the very top of that function where we get the data back from dialogflow. in particular setups of dialogflow the field in the data is different but that shouldn't be the case here :)

[2020-03-02 09:24] JorgMuskens commented on #1
Yeah i know and i am not sure if it is dialogflow. The transcript is workign just fine! But the data received from Dialogflow does not hold outputAudio. I can not seem to find the issue

[2020-03-02 10:14] JorgMuskens commented on #1
Hi Dan
This is the data what i get back.

{"level":30,"time":1583143802608,"pid":3187,"hostname":"tron-asterisk","name":"Dialogflow-AudioServer","id":"1583143799.88","msg":"got data from dialogflow {\"alternativeQueryResults\":[],\"responseId\":\"\",\"recognitionResult\":{\"speechWordInfo\":[],\"messageType\":\"TRANSCRIPT\",\"transcript\":\"hallo\",\"isFinal\":false,\"confidence\":0,\"stability\":

[2020-03-02 12:43] JorgMuskens commented on #1
I got the audio back now but only static is played.
Issue was indeed in Dialoglfow itself.
Now i only need to figure out why i hear static and not the spoken text

[2020-03-02 13:02] danjenkins commented on #1
static to asterisk?

I've had an issue where the file from dialogflow contains 1 channel of audio and 1 channel of static, but asterisk played it back fine.

What version of asterisk are you running?

[2020-03-02 16:08] JorgMuskens commented on #1
Asterisk 17.2.0
I am unsure if it is related to my config in asterisk i am going to reinstall the complete server.

[2020-03-02 18:00] JorgMuskens commented on #1
Could it be an encoding issue? As the outputAudio object is full of decimal chars instead of normal ones like above. Also the fs saves static noise while testing

[2020-03-03 06:56] danjenkins commented on #1
If you can, try running asterisk 16.6.2 - that's what I've been running. And even though the audio contains that static noise , it plays back fine for me. I'm going to raise an issue with dialogflow about the static as it shouldn't be being returned by them

[2020-03-05 15:20] JorgMuskens commented on #1
Hi Dan,
I think Asterisk 17.2.0 is working just fine. The reason i am stating this is that i copied the json object as soon as it arrives to a wav file. When i play this file also static is heared so i think your code works just fine as i hear the static also on the phone. So i also think it must be google which is producing the static. note that i am running the dutch language. I will try to use

[2020-03-06 10:23] danjenkins commented on #1
I get static back too (from dialogflow) but in Asterisk 16.6.2 I don't hear it in Asterisk. I'll test 17 next week!

[2020-03-09 19:41] danjenkins opened #2 "potential timestamp issue"
https://nodejs.org/api/buffer.html#buffer_buf_writeuint32be_value_offset
Buffer | Node.js v13.10.1 Documentation
Node.js About these Docs Usage & Example Assertion Testing Async Hooks Buffer C++ Addons C/C++ Addons with N-API Child Processes Cluster Command Line Options
so if any of your fields go out of range, behavior is undefined. so you should make sure to handle that explicitly.
probably more

[2020-03-10 21:30] ghost opened #5 "Everything appears to be installed OK, but no audio is detected and no messages are sent"
Hi there; thanks for this excellent set of scripts.

I have installed everything, asterisk 17.2 works and hears audio and can complete a normal call and record audio, MQTT is up and running (I have tested with MQTTLens), but it never seems to detect any speaking.

I would really appreciate it if you could see if anything stands out as being wrong with the config and logs. I know port 1883 is open

[2020-03-10 22:26] danjenkins commented on #5
hey @digitaltoast ! so it looks like you are getting the new stream and stream ended topics.... I can see start and end events in the rtp audio server log.

have you enabled the v1beta api stuff in your project in the dialogflow console? while youre there have you enabled audio output? its a setting on the project

[2020-03-10 23:08] ghost commented on #5
Oh, many many thanks for getting back to me so quickly @danjenkins - well, I *think* this is right, but I'm not sure about "enabled the v1beta api stuff" - did you mean v2? I don't seem to have a choice - the radio box for v2 is checked.

![ScreenClip2](https://user-images.githubusercontent.com/230370/76367085-c64a8880-6323-11ea-92be-d67ac375845b.png)
![ScreenClip  52](https://user-images.githubus

[2020-03-10 23:12] danjenkins commented on #5
Yup that's it! Interesting....  I'll have a proper dig through the logs in the morning and see if I can see anything else :)

[2020-03-11 10:39] ghost commented on #5
Just wondering if there's a way of turning on more logging, or perhaps intercepting a copy of the audio or messages sent to Dialogflow? I don't want you to have to be doing my debugging for me, but equally, it looks like info and examples for External Media are sparse.

I've found a few reference items and similar (but not as good!) projects

https://wiki.asterisk.org/wiki/display/AST/External+Med

[2020-03-11 14:27] danjenkins commented on #5
@digitaltoast if you want and feel comfortable doing it, do you want to give me access to your firebase project and I could do some basic debugging my side. Basically - there are so many different parts that trying to point you in the right direction is _difficult_ :(

[2020-03-11 14:29] danjenkins opened #3 "enable sending the welcome event on the initial request"
so that google talks to us first!

[2020-03-11 15:32] danjenkins commented on #1
@JorgMuskens - I've just made a copy of my asterisk server to upgrade it to 17 later tonight and I'll run a test and get some pcaps/file outputs of what I get back from dialogflow and report back!

[2020-03-11 16:11] JorgMuskens commented on #3
I have the seem problem.
Now i have a work around in place that just place an audio file in Asterisk before it goes to the stasis app.

[2020-03-11 16:14] JorgMuskens commented on #1
Superb!

[2020-03-11 16:43] danjenkins commented on #3
Ah :) No you can add an event to the initialRequest https://cloud.google.com/dialogflow/docs/reference/rest/v2beta1/QueryInput ... somrthing like.....
[code]

somrthing like that anyway!

Then it'll start the welcome intent straight away

[2020-03-11 18:19] ghost commented on #5
Hi @danjenkins  - many thanks! Only just saw this - I tried adding the contact address on website but it said "Account contact@xxxx.e is of type "group". Please set the type prefix to be "group:".

Drop me an email to digitaltoast@gmail.com

I've just setup a default demo, so please feel free to have a play, break it etc. Please let me know if you don't have the right permissions or need something

[2020-03-12 13:23] JorgMuskens commented on #3
As soon as i include the event object in the initialRequest it is looping again.
I need it being send once rather then looping. I will try to figure this out.

Also i found an issue with singleUtterance. It looks like it is deprecated. You need to use InputAudioConfig.single_utterance instead.
I am using this now which for me improves recognition of pauses better in the speech

[code]

https://clo

[2020-03-12 14:46] danjenkins commented on #3
@JorgMuskens master  branch now has support for an initial event - just set it in the config file :)

[2020-03-12 14:46] #3 closed, assigned to nobody

[2020-03-12 14:59] danjenkins commented on #5
Hey @digitaltoast I just created a key for your project so that I could access the dialogflow project, whacked that into the config, and set the project ID and everything works perfectly - it now gives back a welcome event (new code added into master today) so no need to prompt yourself and it hears me and transcribes me. The only thing I can think of is that you're not getting any media from aste

[2020-03-12 15:17] ghost commented on #5
Thanks @danjenkins - hmmm; I tend to use small "throwaway" AWS EC2 instances for this type of thing, so I know I've got a "fresh-n-clean" Ubunutu minimal. I might dig around and see if it's a firewall issue, but I know I can make a call between 2 microsip softphones and record the audio.

I've turned on every kind of logging I can in Asterisk; might see if I can make MQTT more verbose

Thanks so m

[2020-03-12 15:22] danjenkins commented on #5
I can almost guarantee you its a nat issue :)

AWS doesn't give you a nice public IP on your instance. Instead they attach the public IP elsewhere in their infra.So I can guarantee you that the source port that we get from Asterisk and how we know to listen for traffic etc is different to what you actually get the media from.

Thats actually only if you're using a separate instance than your aster

[2020-03-12 15:55] danjenkins commented on #1
Hey @JorgMuskens I just tested with 17.2 and i get no static..... what are you sending back to Asterisk? slin16 8k ?

[2020-03-12 16:35] danjenkins commented on #1
Enquiry to Dialogflow about the static issue - https://github.com/googleapis/nodejs-dialogflow/issues/559

But I'm not getting static on my install of asterisk. What environments are you running Asterisk and the RTP Server on @JorgMuskens ?

[2020-03-12 20:12] luisrosasg opened #4 "I cant get audio"
Hi, I have a problem when trying to get the audio, I made a small modification to support Watson STT, but when I call from the softphone the program recognizes me, it connects but does not transmit data.

I used _audioInputStreamTransform that I found in another project of yours that uses Google STT (is similar to watson) but does not get to enter the flow

[2020-03-12 20:35] luisrosasg commented on #4
[code]

[2020-03-12 22:12] danjenkins commented on #4
Audio is sent via RTP from one port to another and if theres a NAT involved you'll lose the audio. How are you currently setup in terms of audio coming out of Asterisk and then how are you running this project? Both need to see one another without a NAT in the middle

[2020-03-13 09:53] JorgMuskens commented on #1
Hi Dan,
This is what i am using right now.
Everything is running locally on the below server

[code]

[code]

[2020-03-13 10:48] JorgMuskens commented on #1
@danjenkins
A little step but i now the issue with the noise. The audio back from dialogflow is encoded base64. This is what i tried and got results with

[code]

When i copy the ogg flie to windows and play in media player it works.
So we need to change the code to first decode the base64 audio data before handling it through the rest of the code. I will see if i can more results

[2020-03-13 10:51] danjenkins commented on #1
Oh were you asking for opus/ogg data from dialogflow?

Can you output the log taht contains the audio data? It should hold the outputAudioConfig.

[2020-03-13 10:53] JorgMuskens commented on #1
[code]
Just changed it to wav and also works. So we need to look at base64
I will work on this further

[2020-03-13 10:53] danjenkins commented on #1
So this is what I dont understand. Everything works fine for me on 17.2 with slin16 8k back to asterisk.

[2020-03-13 10:56] JorgMuskens commented on #1
Dialogflow issue then perhaps? as soon as i encode the audio with base64 run it to decoding process i get speech

[2020-03-13 10:57] danjenkins commented on #1
Yeah Im wondering if youre being given back ogg/opus data etc

I'm pretty sure if you look at the message that contains the audio you'll be told what theyre giving you

[2020-03-13 10:59] JorgMuskens commented on #1
No that was just a test in my code to save a audio with ogg encoding as i was not trusting PCM.
I get wav back form dialogflow but it is encoded with base64. So i have to decode first to get the speech working before it is send to Asterisk.

[2020-03-13 11:01] JorgMuskens commented on #1
Can you use this in your code and download the file and play it. This will save a wav file

[code]

[2020-03-13 11:41] danjenkins commented on #1
@JorgMuskens I'll check this out later today at some point - thanks!

if you then send the output of that to asterisk does it play back ok?

[2020-03-13 11:53] JorgMuskens commented on #1
@danjenkins you know what i was on the wrong branch for DialogflowConnector.js for some reason the code was of the branch jared. Not sure how this happend.

[2020-03-13 11:54] danjenkins commented on #1
Oh i should just delete that branch - it was completely designed for debugging purposes

Does that mean you get back audio into Asterisk fine with the master branch?

[2020-03-13 12:05] JorgMuskens commented on #1
Yes it is working now you can close

[2020-03-13 12:45] danjenkins commented on #1
Great news!!!

[2020-03-13 12:45] #1 closed, assigned to nobody

[2020-03-13 18:01] ghost commented on #5
Ha! You're not going to believe this - I was determined to nail this today, so I tried EVERYTHING from pjsip configuration, to codecs firewall configs to... well, everything I could think of!

In the end, do you know what got audio flowing and everything working perfectly?

Doesn't work:
[code]

Works perfectly (complete chance I just thought to try this)
[code]

As to WHY this is the case, is a m

[2020-03-13 18:07] danjenkins commented on #5
@digitaltoast try without the answer - you dont want to answer it - the ARI app does that

this is mine

[code]

[2020-03-13 20:48] ghost commented on #5
Hi @danjenkins - nope, same with or without answer. The reason I put answer in there in the first place is because that's what the Asterisk docs say :)
 https://wiki.asterisk.org/wiki/display/AST/Getting+Started+with+ARI

I updated to your latest release today - I notice that if you hang up while receiving audio, it throws an uncaught exception. No biggy, I'll take a look over the weekend, chuck a

[2020-03-13 20:56] luisrosasg commented on #4
I installed everything on the same server and it receives streaming but my problem now is Watson, I pass the data to the websocket but apparently it doesn't know when it ends and it gives me a timeout error :(

[2020-03-14 02:34] luisrosasg commented on #4
Hi Dan, Could you build us a Watson connector and send us the budget in
dollars, please? Igual You
Have  time of course

El El jue, 12 de mar. de 2020 a la(s) 19:13, Dan Jenkins <
notifications@github.com> escribió:

--
Luis Rosas G.

[2020-03-15 13:16] ghost opened #6 "Passing back Dialogflow text data (slots) to Asterisk - is this the correct way?"
I don't actually need the voice back from Asterisk, I need the intent body it returns. In my case, I need a series of questions handled exclusively by Dialogflow to resolve to a townName variable when all required slots are filled, and then drop out of stasis and let pure dialplan take over.

In case anyone else is looking to do this, this is what I have a managed to get working:

In asterisk-dial

[2020-03-15 20:17] danjenkins opened #7 "cancel the timeouts for sending back audio if theres a hangup"
Stop trying to send media if a hangup mqtt message comes through

[code]

[2020-03-15 20:18] danjenkins commented on #5
Thanks! I've made an issue for the error eriting to a non existant stream #7

Going to close this one now. Not sure why you have to answer first..... I don't!

[2020-03-15 20:18] #5 closed, assigned to nobody

[2020-03-15 20:20] danjenkins commented on #4
Hey @luisrosasg - sounds great! Can you send me an email - dan@nimblea.pe :) I'll have a think about how much effort it  would be to do a watson connector :)

[2020-03-15 20:52] danjenkins commented on #6
Sounds like a good addition, not sure how to make it genericly useful etc...

On a side note you can set a custom response in Dialogflow and then based on that we could then send a particular mqtt message so that you're having the ARI process look at every single message.... only look at the message when we've got a custom payload response based on Dialogflow intents

<img width="1118" alt="Screen

[2020-03-15 20:52] #6 closed, assigned to nobody

[2020-03-15 20:55] danjenkins opened #8 "Handle custom JSON responses in intents"
Based on custom JSON responses in intents generically
<img width="1118" alt="Screen Shot 2020-03-15 at 20 50 57" src="https://user-images.githubusercontent.com/243117/76710415-447da500-66ff-11ea-9889-fc46f5104f4a.png">

[2020-03-19 14:21] JorgMuskens opened #10 "PCMA/8000 issue stuttering audio back from Google"
Hi Dan,
I am running into another problem. When i dial in to the stasis app the invite RTP only show PCMA/8000.

a=rtpmap:8 PCMA/8000
a=rtpmap:96 telephone-event/8000

in asterisk i see the following error when dialin the app

[Mar 19 14:19:40] WARNING[3111]: translate.c:407 framein: no samples for slin 8000khz -> 16000khz

Google responses are stuttering so i think it is not played as 8000khz. Do

[2020-03-19 14:23] JorgMuskens commented on #10
Additional note is that X-Lite app does not had the issue. Currently I am unable to connect to X-Lite due to a registration error in Asterisk so i am not sure what rtpmap he is negotiating. But my provider is just sending PCMA/8000

[2020-03-19 14:36] danjenkins commented on #10
I'll do a test with my phone limited to to alaw later today for you. But essentially you're getting alaw media in, that should then be transcoded over to signed linear 16 at 16k out and then we send back in signed linear 16 8k which will then be transcoded back to alaw.

if you wanted to cut down on the amount of transcoding etc. you could change your externalMedia channel to output in ulaw (not a

[2020-03-19 14:59] JorgMuskens commented on #10
Switching to AUDIO_ENCODING_MULAW does not work even throws in an error at the end of stream.

{"level":30,"time":1584629585172,"pid":3485,"hostname":"tron-asterisk","name":"Dialogflow-AudioServer","msg":"Got a message sending to dialogflow-asterisk/events","v":1}
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error [ERR_STREAM_WRITE_AFTER_END]: write after end
    at ClientHttp

[2020-03-19 15:04] danjenkins commented on #10
Oh try changing slin16 in the config file to be slin8 (its really slin16 8k I think), change the audio rate from 16000 to 8000 going UP to dialogflow - that would at least mean alaw would be going out to node as slin16 8k, coming back in in slin16 8k and then going back to alaw.

If that doesnt work I'll try and have a look later today (but I'm very busy with work/family because of covid so I'll g

[2020-03-19 15:52] JorgMuskens commented on #10
That worked a little bit better but still stutter and again throws the error at end of stream
The error is a result of not saying anything i think. We need to address this in the code i think. Google throws an error which is not handled by the program.
No probs on getting back i will test anyhow

[2020-03-19 16:54] JorgMuskens commented on #10
Looks like it is coming from slicing the audio stream into packets and play it packet by packet.
This causes delays which is heard on the phone.
I tried to change it that it plays the full audio payload at once but no succes yet.
I am still also checking if the Asterisk configuration is correct due to the warning
WARNING[5262]: translate.c:407 framein: no samples for slin 8000khz -> 16000khz
Not s

[2020-03-25 15:43] JorgMuskens commented on #10
Hi Dan, most likely the issue with choppy sound could be that we are running asterisk in Hyper-V. So i am going to switch to other machine to ensure that is not an issue. According to some forums i see that there are a lot of problems running in HyperV.

Another thing i found is that according to canonical wave format (http://soundfile.sapp.org/doc/WaveFormat/) each wave file has an offset of 44 b

[2020-03-25 16:31] JorgMuskens opened #11 "Closing stream while receiving audio from Dialogflow"
Hi Dan,
I found another issue when i hnagup x-lite or mobile while the stream is handeling the incoming audio stream it throws an error. This same error also occurs when you do not say anything on the stream. Below the error received

[code]

[2020-03-25 16:38] JorgMuskens commented on #11
Duplicate issue as it is already in your list sorry closing this now

[2020-03-25 16:38] #11 closed, assigned to nobody

[2020-03-25 16:42] JorgMuskens commented on #5
@digitaltoast I was wondering if you experience issues on AWS with audio playback from Dialogflow

[2020-03-26 17:00] JorgMuskens commented on #10
Hi Dan,
Hope your doing well these days!
I did a lot of testing and came to the conslusion that it is audio encoding issue with the stutter.
When i change to ari bridge configuratio RTPserver.format to alaw i get clean audio.
The only thing is that the beginning still a small stutter to start, but the welcome message plays for the rest perfectly.

Then i noticed that this change results that audio

[2020-03-26 17:41] danjenkins commented on #10
Hey @JorgMuskens I'll try and do some testing on this tonight :) with a alaw phone call

[2020-03-26 19:24] ghost commented on #10
Hi @JorgMuskens  - I saw you posted a question about stuttering audio on my issue which is now closed

 I thought I'd reply here as it was related - in short, no! Even on a base "micro" instance, it seems OK for me, but I'm going "pure alaw". But you are using a container aren't you? I dabbled with containers about a year ago - I had audio issues with them so didn't try again.

I just spin up a ub

[2020-03-27 07:44] JorgMuskens commented on #10
@digitaltoast ok also in my test with HyperV it looks okay but i have some strange issues with transcoding. For the rest it is working fine. Now i switched back to a older release of Asterisk 16 to see if that make a difference. For the containers no i do not use containers but eventually if the code works i would like to. But i will make my own container as i will need to code to suit my applicat

[2020-03-28 16:15] ghost opened #12 "Unexpectedly high quota usage"
I'm still battling on with trying to get just the text of a recognised town returned efficiently.

I don't want dialogflow to talk to me at all, and I only want the caller to say a town name, and have the corresponding town name returned.

In other words:
Asterisk audio file says: "What is the town".
Then enters stasis, kicks off Dialogflow with the FindTown intent, sends the audio, waits for fulf

[2020-03-30 08:01] JorgMuskens commented on #12
@digitaltoast i believe you can adjust your query so Dialogflow will not send any audio back.
in ./lib/DialogFlowConnector.js lookup the following code

[code]

Just remove the last line 'outputAudioConfig' this should prevent DIalogflow sending audio back.

[2020-03-31 09:27] JorgMuskens commented on #7
Hi Dan,
To work around this issue i use a try catch

[code]

This is just a work around the issue.

I also tried to to enclose the full for loop in a setTimeout var and clear that at the close event.
But for some reason not clear yet the error is still thrown. I am not sure if the loop is running seperatly and we can clear it this way. Otherwise i think we have to make a sure each time the Outstre

[2020-03-31 10:38] JorgMuskens commented on #12
Here is the discovery document i am using to understand the json request,

https://dialogflow.googleapis.com/$discovery/rest?version=v2beta1

See "GoogleCloudDialogflowV2beta1DetectIntentRequest":"properties":"outputAudioConfig":
Here is stated that
"description": "Instructs the speech synthesizer how to generate the output\naudio. If this field is not set and agent-level speech synthesizer is not

[2020-03-31 10:46] danjenkins commented on #7
@JorgMuskens I just pushed a commit which should fix this. I thought about checking if the stream was writable every time but I'd still have to deal with cancelling all future timeouts so decided a try catch was better and would at least handle other bad situations instead of crashing out. let me know if it works for you

[2020-03-31 10:46] #7 closed, assigned to nobody

[2020-03-31 11:21] danjenkins commented on #12
I've just pushed up a new branch which a) moves config around so theres less of it in the DialogFlowConnector file, and b) enables disabling the output audio in the config file

In the process I moved some config options around so pay attention to that

https://github.com/nimbleape/asterisk-dialogflow-rtp-audioserver/tree/move-config-around-plus-enable-disable-output-audio

Thinking about it, more

[2020-03-31 13:12] danjenkins commented on #10
@JorgMuskens I just tested sending ulaw out of asterisk, up to dialogflow and then getting 8k slin16 back and it all works flawlessly? Is Is this what you were doing?

[2020-03-31 13:15] danjenkins commented on #10
For ref, I changed the audio input config

[code]

And changed the ARI project to output ulaw too

[code]

in the config file

That was it, my phone was connected with ulaw, asterisk was sending out ulaw, i was sending in slin16 8k, I got the occasional `[2020-03-31 12:08:20] WARNING[31193][C-00000062]: translate.c:407 framein: no samples for lintoulaw` in the asterisk console but thats nothing to

[2020-03-31 13:18] danjenkins commented on #4
This has been resolved, if anyone is interested in the resulting watson connector you'll need to talk to @luisrosasg as it's his intellectual property, or ask me and I can write you one without looking at the code I wrote for Luis (now deleted from my machine so that I can't take any form of  inspiration from it)

[2020-03-31 13:18] #4 closed, assigned to nobody

[2020-03-31 13:19] danjenkins commented on #10
ah the only difference is i negotiated ulaw..... let me run a test with only alaw

[2020-03-31 13:23] danjenkins commented on #10
Just tested with alaw and its fine there too

result of `core show channel <channel>`
[code]

[2020-03-31 13:45] JorgMuskens commented on #8
I already use this in my code and solved it this way with the event mqtt topic.

In dialgoflow i have the a custompayload
[code]

In `index.js` i added the ChannelId to be include in json to be send to ari bridge

[code]

Then in the index.js on the ari-bridge i added a subscribe on the mqtttopic in the main() function

[code]

Then in the client.on('StasisStart'.....

[code]

Most likely not the

[2020-03-31 13:57] danjenkins commented on #12
Oh actually, probably dont even have to restart the connection and @digitaltoast you don't need to lower the limit to 8 seconds either.... you should be able to use the one dialogflow session for 59 seconds over multiple intents etc ... I think! I'd need to try it out, give this branch a go and see how you get on

[2020-03-31 14:03] danjenkins commented on #8
yeah, its a difficult thing because each ARI app is different, and this isn't designed to be a complete solution - just a base for people to work from..... but the mqtt event topic makes sense, I can add in the basics for people to expand upon

[2020-03-31 14:10] ghost commented on #12
Wow - you are both stars! Thanks so much, @danjenkins  - I will take a go at this.
You'll be very intrigued to see what it's going to be used for!

[2020-03-31 15:10] JorgMuskens commented on #8
Yeah i know the ari client is still not complete for me aswell.
I am trying to update the channel to do a continueindialplan but still running into some problems
Eventually this Payload is a custom option and mostlikey for everyone different so a absic start point would be fine.

[2020-04-02 11:51] JorgMuskens commented on #10
Yes that is the setup i am currently using.

This is were i went wrong forgot to change the audioEncoding: 'AUDIO_ENCODING_MULAW',
Will do some more testing.

That indeed looks promising

[2020-04-02 15:37] JorgMuskens commented on #10
The change and new code work much better.
I only have a little very small stutter in the begin of each speech element that is comming from google. It looks like it needs to fire up something and then eventually its clean audio like an old desil engine. Perhaps not the best way to explain this.

I will ignore the warning on the samples.

Perhaps MQTT is not fast enough on opening the channel so a s

[2020-04-02 15:42] danjenkins commented on #10
Great! I changed to code to remove 44 bytes.... maybe I should only be removing 42? Try moving back to 42 :) Closing :)

[2020-04-02 15:42] #10 closed, assigned to nobody

[2020-04-03 11:56] JorgMuskens commented on #10
Hmmz did that and it looks like its working. Strange stuff!

[2020-04-03 12:04] JorgMuskens commented on #7
I have the issue back. It throws the error when you keep quite and say nothing.
This happend to me when my speech was not recognized and looks like dialogflow then closes connecting which throws the error. Note that i am using singleUtterance: true to get the speech going in Dialogflow. I see you are using false but on my end Dialogflow doesn't reply back to me then.

[2020-04-03 14:49] JorgMuskens commented on #8
Another thing to keep in mind is that the event mqtt handler which detects the custom payload is received up front. This means that when i play audio back from dialogflow like "Please wait while we connect you to an operator" this audio is cut and terminated as the ari bridge is already processing the custom command.

I was playing around with an extra mqtt topic to handle the rtp stream if it was

[2020-04-06 14:31] danjenkins commented on #8
yeah @JorgMuskens it makes sense, or to only give back the result of the intent/custom response to the other app once the audio has finished playing back

[2020-04-06 14:33] danjenkins commented on #8
But then again.... if the audio is long, you want to give say an agent being given these transcripts/intent results sooner than after an audio prompt has finished playing. so yeah, probably an audioEnded event

[2020-04-06 14:35] danjenkins commented on #8
@JorgMuskens also, I just pushed a new branch on each repo up - both called new functionality - designed to deal with no audio responses better, sending the mqtt events back to the ARI bridge so it can do more decision making etc

[2020-04-17 07:03] JorgMuskens commented on #8
@danjenkins i will test this today and let you know

[2020-04-17 08:12] danjenkins commented on #8
Thanks! Theyre both merged in now

[2020-04-17 08:44] JorgMuskens commented on #8
Something broke big time.
When i dial in the stasis app i see the welcome message coming in from dialogflow but i hear nothing played.
Then immediately after the error thrown. Below the last couple of lines

[code]

[2020-04-17 08:56] JorgMuskens commented on #8
It looks like there is no open connection between ari and rtp anymore. Is it still working on your end?

[2020-04-17 10:28] danjenkins commented on #8
yeah I tested it all with a couple of different scenarios.....

I guess I'll go re-do that testing :S

[2020-04-20 14:08] SubhashPeshwa commented on #1
Hi folks,

Apologies for commenting on a closed thread, but I'm facing the issue with the static sound being returned back from dialogflow too. I've been trying to debug this from the last few days but to no avail!

Some context:-
1. Asterisk version: 16.6.2 running on FreePBX on a Virtualbox instance (Bridged not NAT)
2. The audioserver running on host
3. Speech enabled - 16 bit linear, not MP3 o

[2020-04-20 14:27] danjenkins commented on #1
hey @SubhashPeshwa can you just make a new issue for me please? Otherwise I won't see this when I come in to look and try and help you :)

(when i get some time to indeed help)

[2020-04-20 14:38] SubhashPeshwa commented on #1
@danjenkins Will do!

@JorgMuskens 's solution of decoding to base64 first before saving works for me! I'm able to get the audio response back from dialogflow and save it as a wav file which is no longer just static. Still not able to get back the audio response to the SIP phone though :(

Let me give it one more day of troubleshooting before I trouble you (Now that I know dialogflow is indeed sen

[2020-04-20 15:22] danjenkins commented on #12
@digitaltoast has the most recent additions helped?

[2020-04-21 19:57] ghost commented on #12
@danjenkins yes - working perfectly for what I need - thank you!

[2020-04-21 19:57] #12 closed, assigned to nobody

[2020-04-22 09:32] danjenkins commented on #8
Crap, I can reproduce :( looking into it now :)

[2020-04-28 13:17] danjenkins opened #15 "Enable a write back to asterisk before we get any audio from asterisk"
issue from @SubhashPeshwa

Hi folks,

Apologies for commenting on a closed thread, but I'm facing the issue with the static sound being returned back from dialogflow too. I've been trying to debug this from the last few days but to no avail!

Some context:-

Asterisk version: 16.6.2 running on FreePBX on a Virtualbox instance (Bridged not NAT)
The audioserver running on host
Speech enabled - 16 bi

[2020-04-28 13:32] ghost commented on #15
Hi @SubhashPeshwa - I found I had to get some sound out of Asterisk first before I could hear anything from Dialogflow. Try this:

[code]

[2020-04-28 20:14] abhioshar commented on #15
@danjenkins

I've been experimenting around with this a bit, although I'm completely new to Asterisk/ARI or even websockets.

I am using same configuration/infra as you've mentioned. I was also able to get the audio from dialogflow but somehow the SIP wouldn't play that.

What worked for me was extracting this piece of code from Line 77 - 80 out of the inner block and then replacing address/port v

[2020-04-28 20:52] danjenkins commented on #15
Interesting @abhioshar ! Odd... because that code works for at least 4 other people other than me.... :S

[2020-05-06 16:55] ghost opened #16 "[solved- was pjsip codec setting] Suddenly not sending any audio on dev server."
Two servers, same versions of Ubuntu, Asterisk, same configs - same everything as far as I can see.

It's just that the dev server now rtp bridge doesn't seem to hear any audio (I set my own custom payload for a timeout - but it's working on the other server!

MQTT is working, too - I realise this isn't your problem but any ideas on diagnosing externalMedia channels? Thanks! Troublesome log below

[2020-05-07 08:30] danjenkins commented on #16
I'd guess youre not getting the RTP... so first thing to check is, are you getting packets on your port you've specified for media? tcpdump should tell you :)

[2020-05-07 13:53] ghost commented on #16
Hi @danjenkins FOUND IT! Thank you so much for suggestion tcpdump.

And after half a day, the culprit was as simple as this, although I have no idea why, but it might help others...

In pjsip_wizard.conf:
~endpoint/allow = alll~
endpoint/allow = alaw

Before this, I was seeing nothing on 7777 via `sudo tcpdump -i lo port 7777 -vv -X`

Nothing in Asterisk via `rtp set debug on`

And the build of EV

[2020-05-07 17:28] danjenkins commented on #16
Is that alll or all ?

On Thu, 7 May 2020, 14:54 digitaltoast, <notifications@github.com> wrote:

[2020-05-07 18:02] ghost commented on #16
Ah, good spot - not sure how that crept it - it was definitely all, with 2 ells!

So changing from all to alaw fixed it. Asterisk boggles my mind daily...

[2020-05-18 13:20] #16 closed, assigned to nobody

[2020-05-18 13:26] danjenkins commented on #15
so just to remind myself.... because I test with a sip phone I get audio straight away. PSTN might not be the case.

@digitaltoast in your testing were you doing it from the PSTN?

[2020-05-21 10:11] ghost commented on #15
I think this is all related to the accepted codecs ( https://github.com/nimbleape/asterisk-dialogflow-rtp-audioserver/issues/16) - see what you get for allowing all, and then allowing only ulaw/alaw/something else. I have a feeling this is going to lead us toward an Asterisk bug report regarding RTP...

[2020-06-03 16:40] ghost opened #17 "How to use this library as... a library!"
Since I discovered that I can simply subscribe to MQTT data in an external script, this makes
https://github.com/nimbleape/asterisk-dialogflow-rtp-audioserver/issues/8 a bit redundant and  means I don't need to fiddle with Dan's core code. I've also learnt a lot about Asterisk, JS and Dialogflow from digging through it, so here's how I've got it going, all in one place:

[code]

Then merge the two

[2020-11-30 11:07] Toni-Navarro opened #19 "Asterisk just playing back some sentences from dialogflow"
Hi guys, I hope you can help here.
I am trying to use this code but not able to run it properly.
ARI bridge looks fine and I can see fulfillmentMessage/Transcript there and also in RTP server. As well, tcpdump shows data in the port but, unfortunately, only some sentences are listened randomly in my softphone.

Has somebody experimented this behaviour?

My config is exactly the same for ARI bridge

[2020-12-07 21:04] sahis opened #20 "streamingdetectintent not working"
Problem : It detects the words I say and brings the result. However, the voice detection is always on, even if I turn off the mic, the voice recognition continues and it derives words by itself. and the query never ends.
When I connect with Zoiper and call, there is no problem, everything works correctly. This problem is encountered because a phone is called with sip (voip).
------log-------
3|aia

[2020-12-09 15:56] Happyman1974 opened #21 "No DesignTimeAgent found for project"
There is a ERROR into rtp-audioserver

[1607526973899] ERROR (Dialogflow-AudioServer/24649 on rtp-audioserver): Got an error from dialogflow
    id: "1607526971.52"
    err: {
      "type": "Error",
      "message": "5 NOT_FOUND: com.google.apps.framework.request.NotFoundException: No DesignTimeAgent found for project 'asterisk-project-29811

[2020-12-10 05:29] Happyman1974 commented on #21
The issue is resolved
I switched to Dialogflow ES Edition, was CX from the start

more info https://stackoverflow.com/questions/64474972/no-designtimeagent-found-when-testing-with-detectintent-api-using-prebuilt-agent

[2020-12-10 05:29] #21 closed, assigned to nobody

[2021-01-11 10:06] Happyman1974 opened #22 "DF standart edition quota exceeded . The question is how to increase request timeout?"
In the evening hours I see the messages about quota exceeded. The period is every 60 seconds.
![image_2021_01_06T21_46_31_951Z](https://user-images.githubusercontent.com/14336503/104167328-31199400-540d-11eb-8c3f-bd80834252a3.png)

Is any way to increase timeout from 60 seconds up to 5 minutes ?

[2021-01-20 13:23] Happyman1974 commented on #22
I found helpful information on the google DF https://console.cloud.google.com/apis/api/dialogflow.googleapis.com/metrics
There is a traffic graph wich shows 429 error means your app has made too many requests and has hit the rate limit of an API

![API DF Traffic](https://user-images.githubusercontent.com/14336503/105180265-632ca380-5b3b-11eb-8af7-fc35113e8055.png)

429 marked with blue color. So,

[2021-01-26 10:09] danjenkins commented on #22
Hi @Happyman1974,

So theres a couple of things going on here. the 60 seconds refers to the fact that dialogflow can't accept audio for more than 60 seconds at a time and so after sending audio for 60 seconds we create a new stream.

What looks like is happening here is that the app thinks we're still getting audio from asterisk and so is trying to send it.... but by doing that we've run out of al

[2021-01-26 10:11] danjenkins commented on #20
Hi - so even if you turn off your mic, Asterisk is still sending blank audio over to this process. We could potentially look at the audio frames coming in and see if they are actually blank and therefore not send them up to the provider.

Does this help? Sorry, I've been busy with work and haven't had the time to look at github issues.

[2021-01-26 10:13] danjenkins commented on #19
Hi @Toni-Navarro - sorry for the delay in getting back to you - busy!

Are you still trying to get this to work? I wonder if its a ulaw vs alaw problem?

[2021-01-27 10:58] Toni-Navarro commented on #19
Hi @danjenkins

I was running asterisk, audioserver and ari bridge in a raspberry pi 3. The issue disappeared when I install them in a VM in GCP.
Then the solutions worked properly. Probably it was a performance issue related with codec tranlations.
Now, everything is working properly.

Thanks a lot for this amazing code. If there is a chance, i would like to pay you a lot of pints!!!
Thanks again

[2021-01-27 12:44] danjenkins commented on #19
Great I'll close this out then. If you want to support the open source work you can always sponsor the github org :) https://github.com/sponsors/nimbleape

[2021-01-27 12:44] #19 closed, assigned to nobody

[2021-01-28 08:48] sahis commented on #20
hello, thank you very much for your answer. So what exactly is the solution to this? What kind of path should we follow?

[2021-01-28 11:01] danjenkins commented on #20
How do you mute? Or the phone itself? I'm pretty busy with client work at the moment so picking anything up is near impossible until end of Feb at the earliest.

[2021-01-29 11:06] rjp44 commented on #22
I've had a quick look at the code and it seems like that error will always occur when we try to set up a new stream (streamingDetectIntent) in a project that has hit it's daily API limit for free audio intent recognition.

The fact that it is occurring repeatedly in the 60-second stream re-start just means that a call is being held open by Asterisk with someone on the end listening to dead air. I

[2021-02-06 11:07] sahis commented on #20
actually there is a problem like this. No problem when calling fixed lines, but not detecting that the customer is silent when calling mobile dialogflow

[2021-02-22 10:21] Toni-Navarro commented on #20
Hi sahis,

I was experimenting the same issue when I called from a landline (via sip trunk).
I tried to change singleUtterance to true in config. No sure why, first time it failed and returned an error in audioserver but second time worked properly.
Could you try it?

[2021-03-18 11:13] sahis commented on #20
thank you answer
hello, i made the setting you specified (singleUtterance : true). However, I got the error as below. Can you please help?

debug e: { fulfillmentMessages: [],
4|aiagent_aribridge       |   outputContexts: [],
4|aiagent_aribridge       |   queryText: '',
4|aiagent_aribridge       |   speechRecognitionConfidence: 0,
4|aiagent_aribridge       |   action: '',
4|aiagent_aribridge

[2021-05-31 22:13] evaldodeoliveira commented on #20
https://github.com/nimbleape/asterisk-dialogflow-rtp-audioserver/issues/20#issuecomment-783266239

The same thing happened to me.

[2021-06-09 14:23] iagoccampos commented on #20
Did someone figured that out?

Calls via sip trunk does not trigger an intent. Changing singleUtterance option to true seems to be a good option, but it throws an erro "write after end". It's looks like the event "WELCOME" and audio recognition starts at the same time. If the welcome audio is big the stream is closed before the audio finishes, throwing the error.

[2021-06-22 16:56] jyoti143sahoo opened #23 "Strict RTP learning after remote address set to: 10.11.4.5:7777"
exten = 100,1,Answer()
same = n,Wait(1)
same = n,Playback(hello-world)
same = n,Hangup()

exten => 6001,1,Answer()
same => 2,Dial(6001)
same => n,Hangup()

exten => 1000,1,Answer()
 same =>      n,Stasis(dialogflow,inbound)
 same =>      n,Hangup()

while dialing on extension number 100 successfully getting "hello world" response.
But when trying to call on 1000 getting the below issue

-- Executi

[2021-07-06 12:28] kanishk-mehta commented on #23
Facing the same issue as well. @danjenkins - would be awesome if we could get some help on this. Maybe I'm missing something.

[2022-04-09 14:03] vcidst commented on #23
You've posted logs of Asterisk where nothing looks wrong. Maybe you should check out what's happening on the ARI Server or the RTP Audioserver?

[2022-04-09 14:34] vcidst opened #26 "How do I debug corrupted audio playback with ulaw encoding?"
I'm trying to get this repo to work with `OUTPUT_AUDIO_ENCODING_MULAW` encoding of dialogflow. However the audio playback to Asterisk is corrupted.

There's a lot of things going on in `_sendAudioToAsterisk()` method. How did you debug/figure out this sorcery? I believe you're splitting the audio data into 320 byte packets and then playing them back in 20ms intervals (320 bytes/0.02s = 16k audio).

[2022-04-11 11:30] vcidst commented on #26
Hey, for anyone debugging this. Two things helped me working with G711 u-law audio,

1. `type` variable should be 0. [reference](https://en.wikipedia.org/wiki/RTP_payload_formats)
2. Since the `buf.length` in my case was 160. I was observing overlapping audio playback, changing that to `timestamp += 160` helped for smooth playback.

I'm not precisely working with dialogflow so YMMV.

[2022-04-12 10:12] danjenkins commented on #26
hey @vcidst ! Sorry for no reply over the weekend, I was ill.

I remember having this exact problem with ulaw and never put any real effort into solving it from memory. So you got further than me!

You think we could make this configurable? Would you be interested in doing a PR?

Thanks for following this up on the issue so others can take advantage of it :)

[2022-04-12 10:54] vcidst commented on #26
Hey Dan, hope you're doing well now. I'll share a PR soon with some configuration changes

[2022-06-13 19:54] andreslavariega opened #29 "NodeError - write after end"
Hello I have this error, it is a sporadic error, it usually happens when the iteration is in progress.

      "type": "**NodeError**",
      "message": "**write after end**",

I use asterisk 16, mosquitto version 1.5.7, yarn run v1.22.19, node v14.19.3.

Thanks for your support.

[code]

    id: "1655145077.103"
    err: {
      "type": "NodeError",
      "message": "write after end",
      "stack

[2022-06-14 08:59] #26 closed, assigned to nobody

[2022-06-14 08:59] #23 closed, assigned to nobody

[2022-06-14 09:06] danjenkins commented on #29
When does this happen? Looks like we're writing to the GRPC dialogflow stream after it's been closed...

[2022-06-16 23:12] andreslavariega commented on #29
Sorry for the delay, I was doing more testing and connecting to a sip trunk.

In some tests I see this log, it happens when it takes a while to respond by voice.

[code]

[2022-06-22 15:17] andreslavariega commented on #15
Something late to answer, but I leave something that may be the solution.
Asterisk needs to open the RTP channel, sometimes sending a sound (even silence), it can work.

we can also put a response in the dial plan.

[code]